<form action="/aluno/salvar" method="post">

    <div class="form-flex">
        <input required class="form-control" type="text" id="nome" name="nome" placeholder="Nome do aluno..">
    </div>
    <div class="form-flex">
        <input required class="form-control" type="text" id="matricula" name="matricula" placeholder="Sua matricula..">



        <button name="salvar" type="submit" class="btn btn-primary post-btn">Salvar</button>
    </div>
</form>
